.container {
  max-width: 600px;
  margin: 0 auto;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  background-color: #363f5b !important;
  border-color: #363f5b;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
